/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Oct 2019, 4:02:27 PM
    Author     : Jerone Poh
*/
#aboutUs {
    background: #efdeb0;
    font-family: "Garamond";
    text-shadow: 0.3px 0.3px 0.3px black;
}
#txtAboutUs {
    text-align: center;
}
.abtUsHeading {
    text-decoration: underline;
}
#bon_appetit {
    font-size: 32px;
    font-style: italic;
    text-align: center;
    font-family: "Garamond";
}