/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2019, 11:01:38 PM
    Author     : NPStudent
*/
/*Can be copied into common CSS file*/

/*Banner design*/

/*.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   
   font-size: 18px;
}*/

/* Specific to kuehmenuall */
/*For <h1> tag*/
#basic, #character, #heavyweight {
    margin-bottom: 0px;
}
.fontheader {
    font-family: "Garamond";
    text-align: center;
    font-weight: bold;
    color: #B39283;
    text-shadow: black;
    
    border-bottom-style: dotted;
    border-bottom-color: grey;
    border-bottom-width: thick;
    margin-bottom: 50px;
}

/*Hover image zoom and blur*/
.zoom {
  padding: 5px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  z-index: 1;
}

.zoom:hover {
  transform: scale(1.5); 
  filter: blur(5px);
  opacity: 0.6;
}

/*Hover image caption appears*/
.zoom + figcaption {
    font-style: oblique;
    font-weight: bold;
    visibility: hidden;
    z-index: 1;
    background-color: transparent;
    
    /*Center the text*/
    position: absolute;
    top: 38%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-align: center;
}

.zoom:hover + figcaption {
    
    visibility: visible; 
}

.imgholder {
    position: relative;
    text-align: center;
    color: black;
    font-size: 20px;
}

/*Nav bar design*/
.nav2{
    background-color: transparent;
}

nav li {
    list-style-type: none;
    text-align: center;
}

nav a {
    color: black;
}

nav a:hover{
    color: #ec5772;
    font-weight: bold;
}

/*Increase spacing at the sides of the menu*/
section {
    margin-left: 120px;
    margin-right: 120px;
}

figure img {
    border-width: 10px;
    border-style: solid; 
    border-color: transparent;
}

.btn {
    margin-top: -20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}