/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Oct 2019, 10:50:54 AM
    Author     : Joel
*/

body{
    font-family: "Garamond";
    font-size: 100%;
    background-color: white;
}
.header {
    background-color: #efdb0;
}
.containercolor{
    background-color: #efdb0;
}
.jumbotronbg{
    background-image: url("http://localhost/img/bg2.jpg");
    background-size: cover;
    color: whitesmoke;
    text-shadow: 2px 3px 2px black;
}
.standardfont{
    color: hsl(0,100%,0%);
    font-family: Garamond;
}
.fontheader{
    font-family: "Garamond";
    text-align: center; font-weight: bold;
    color: #bce4dc;
    text-shadow: black;
}
.subheader{
    font-family: "Garamond";
    text-align: left; font-weight: bold;
    /*text-shadow: 2px 2px 2px black;*/
    color: #b4ac9c
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    color: black;
}

a.navbar-brand{
    color:#f7536b
}

.description p{
    color: #fff;
    font-size: 1.3rem;
    line-height:1.5;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #fcfcdc;
}
.form-control,
input {
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}
.btn {
    background-color: black;
    border: 5px solid black;
    color: #fff;
    margin-top: 20px;
    
}
.btn:hover {
    background-color: #333;
    border: 5px solid #333;
}

.nav-item{
    margin: 10px;
}

.nav-item a{
    color: #f7536b;
}

.nav-item a:hover{
    color: #ec5772;
    font-weight: bold;
}

fa-directions{
    color: #f7536b;
}

.contactInfo{
    color: #1c3c54;
}
