/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Oct 2019, 10:50:54 AM
    Author     : Joel
*/
body{
    font-family: "Garamond";
    font-size: 100%;
    background-color: white;
    margin:auto;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: black;
}
.header {
    background-color: #efdb0;
}
.containercolor{
    background-color: #efdb0;
}
.jumbotron{  
    width: 800px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: whitesmoke;
    text-shadow: 2px 3px 2px black;
}

.responsive {
    width: 100%;
    height: auto;
  }

.standardfont{
    color: hsl(0,100%,0%);
    font-family: Garamond;
}
.fontheader{
    font-family: "Garamond";
    text-align: center; font-weight: bold;
    color: #bce4dc;
    text-shadow: black;
}
.subheader{
    font-family: "Garamond";
    text-align: left; font-weight: bold;
    /*text-shadow: 2px 2px 2px black;*/
    color: #b4ac9c
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    color: black;
}

a.navbar-brand{
    color:#f7536b
}

.description p{
    color: #fff;
    font-size: 1.3rem;
    line-height:1.5;
}

.form-control,
input {
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}
.btn {
    background-color: black;
    border: 5px solid black;
    color: #fff;
    margin-top: 20px;
    
}
.btn:hover {
    background-color: #333;
    border: 5px solid #333;
}

.nav-item{
    margin: 10px;
}

.nav-item a{
    color: #f7536b;
}

.nav-item a:hover{
    color: #ec5772;
    font-weight: bold;
}

fa-directions {
    color: #f7536b;
}

.contactInfo {
    color: black;

}

#paragraph {
    background-color: white;
    padding: 10px;
}

.img-cake{
    height: 30%;
}

.carousel-inner{
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.aboutSection{
    margin: auto;
}

#about_us_header{
    text-align: center;
    color: #f7536b;
    font-size: 50px;
}

.aboutus{
    float: right;
    margin-top: 2.5%;
    text-align:center;
}

.aboutus p{
    color: white;
    margin-right: 10%;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.about-img{
    animation: about-img 5s linear;
    margin-top: 10px;
    opacity: 1;
}

.aboutSection:hover .about-img{
    opacity: 0.3;
}


.button {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 45%;
    text-align: center;
    opacity: 0;
}
  
.button a {
    width: 200px;
    padding: 12px 30px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    font-size: 30px;
}
  
.aboutSection:hover .button {
    opacity: 1;
  }

@keyframes about-img {
    0%   { 
    transform: translateX(200%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
}

@media only screen and (min-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}