/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Sep 2019, 11:32:26 PM
    Author     : User
*/
#txtConfirm {
    color: #ec5772;
    margin-top: 10px;
}

#orderHeader {
    font-family: "Garamond";
    text-align: center; 
    font-weight: bold;
    color: #ec5772;
}

#btnDetails {
    margin-top: 20px;
}

.scrollTable {
    overflow-y: scroll;
    height: 500px;
}

/* Radio Buttons */
.radio_grp {
    border: 1.5px solid #D3D3D3;
    padding: 8px;
}
.radio_lbl {
    margin: 8px;
}

.card_logo {
    float: right;
    width: 65px;
    height: 40px;
}

#txtOrder {
    margin-top: 10px;
}

#subTotal {
    margin-top: 30px;
    font-size: 20px;
}

#quantity, #delivery {
    font-size: 20px;
}

.btnDisabled {
    pointer-events: none; 
    cursor: default;
}

#totalDel {
    font-size: 20px;
}

/* Display of table and setting dimensions */
table {
    width: 100%;
}

td {
  width: 90px;
} 
table, tr, td {
    border: solid 1px black;
    padding: 2px 3px;
    text-align: center;
    background-color: #ffe0e0;
}
th {
    background-color: #FFCCBB;
    width: 105px;
}
#imgKueh {
    width: 100%;
    height: 115px;
}